{erl_opts, [debug_info]}.
{deps, []}.
{base_dir, "_build.tmp"}.

{shell, [
    {config, "config/sys.config"},
    {apps, [picogram]}
]}.

{relx, [{release, {picogram, "0.1.0"},
         [picogram]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, true}]}.
