{erl_opts, [debug_info]}.
{deps, []}.
{base_dir, "_build.tmp"}.
{plugins, [{rebar3_run, {git, "https://github.com/aaronjsutton/rebar3_run.git", {tag, "1.0.0"}}}]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [picogram]}
]}.

{relx, [{release, {picogram, "0.1.0"},
         [picogram]},
         {vm_args_src, "config/vm.args.src"},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, true}]}.
